<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="button.css">-->
</head>
<body>
<button class="btn">button</button>
<button class="btn btn-block" style="">button</button>
<button class="btn btn-danger" >button</button>
<button class="btn btn-default" >button</button>
<button class="btn btn-warning" >button</button>
<button class="btn navbar-btn" >button</button>

<div class="btn btn-warning">button</div>
<div class="btn btn-xs btn-danger">button</div>

<!--<div class="btn-gradient">button</div>-->

</body>
</html>